@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbit&display=swap');
@import "tailwindcss";

:root {
	/* --Couleurs-- */
	--background-couleur: #250255;
	--seconde-couleur: #331858;
	--blanc-couleur: #F5F5F5;
	--blanc-lavende-couleur: #EDE5FF;
	--lavende-couleur: #C2A7FF;

	--titre-font: 'Orbitron', sans-serif;
	--texte-font: 'Orbit', sans-serif;
}

#wrapper{
	background-color: var(--background-couleur);
	font-family: var(--texte-font);
	min-height: 100vh;
	color: var(--blanc-couleur);
}

/* ==================================================REUTILISABLES================================================== */
.titre{
	font-family: var(--titre-font);
	font-size: 2rem;
	font-weight: 600;
	letter-spacing: 1.5px;
}

.sous-titre{
	font-family: var(--titre-font);
	font-size: 1.75rem;
	font-weight: 400;
}

.blanc-lavende{
	color: var(--blanc-lavende-couleur);
}

.lavende{
	color: var(--lavende-couleur);
}

.bg-seconde-couleur{
	background-color: var(--seconde-couleur);
}

/* ---------nav logo-------- */
/* personnalisé ici car tailwind n'a pas webkit-text-fill-color */
.logo{
	background: linear-gradient(90deg, hsl(277, 56%, 68%) 0%, hsl(203, 71%, 60%) 100%);
	background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* img insta */
.cropped-figure{
	display: flex;
	flex-direction: column;
    justify-content: center;
    width: 300px;
    overflow: hidden;
}

.cropped-img{
	height: 300px;
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}
