@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbit&display=swap');
@import "tailwindcss";

:root {
	/* --Couleurs-- */
	--background-couleur: #250255;
	--seconde-couleur: #331858;
	--blanc-couleur: #F5F5F5;
	--blanc-lavende-couleur: #EDE5FF;
	--lavende-couleur: #C2A7FF;
	--flash-bleu-couleur: #630ACD;

	--titre-font: 'Orbitron', sans-serif;
	--texte-font: 'Orbit', sans-serif;
}

#wrapper{
	background-color: var(--background-couleur);
	font-family: var(--texte-font);
	min-height: 100vh;
	color: var(--blanc-couleur);

	font-size: 0.9rem;
}

::-webkit-scrollbar{
    width: .6rem;
    background-color: hsl(202, 16%, 15%);
}

::-webkit-scrollbar-thumb{
    background-color: hsl(202, 16%, 25%);
}

/* ==================================================REUTILISABLES================================================== */

/* ---------- FONTS ---------- */
.titre{
	font-family: var(--titre-font);
	font-size: 1.7rem;
	font-weight: 600;
}

.sous-titre{
	font-family: var(--titre-font);
	font-size: 1.5rem;
	font-weight: 500;
}

/* ---------- COULEURS ---------- */

.blanc-lavende{
	color: var(--blanc-lavende-couleur);
}

.lavende{
	color: var(--lavende-couleur);
}

.bg-bleu{
	background-color: var(--flash-bleu-couleur);
}

.bg-couleur{
	background-color: var(--background-couleur);
}

.bg-seconde-couleur{
	background-color: var(--seconde-couleur);
}

.bg-lavende{
	background-color: var(--lavende-couleur);
}

/* ---------nav logo-------- */
/* personnalisé ici car tailwind n'a pas webkit-text-fill-color */
.logo{
	background: linear-gradient(90deg, hsl(277, 56%, 68%) 0%, hsl(203, 71%, 60%) 100%);
	background-clip: text;
    -webkit-text-fill-color: transparent;
}

.active{
	font-weight: 600;
}

/* img insta */
.cropped-figure{
	display: flex;
	flex-direction: column;
    justify-content: center;
    width: 300px;
    overflow: hidden;
}

.cropped-img{
	height: 300px;
}




.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}


/* =======================================================BREAKPOINTS======================================================= */

/* ---------- TABLETTE ---------- */
@media screen and (width >= 768px) {
	#illuscafe{
		grid-template-columns: repeat(2, 35vw);
	}
	
}

/* ---------- ENTRE TABLETTE ET ORDI ---------- */
@media screen and (768px <= width <= 1024px) {
	.cropped-figure{
		width: 200px;
	}
	
	.cropped-img{
		height: 200px;
	}

	#specialite__card-content{
		width: 200px !important;

		h3{
			font-size: 1.15rem;
		}
	}
}

/* ---------- ORDI ---------- */
@media screen and (width >= 1024px) {
	#wrapper{
		font-size: 1.2rem;
	}

	.titre{
		font-size: 2rem;
		letter-spacing: 1.5px;
	}
	
	.sous-titre{
		font-size: 1.75rem;
	}
	
}

