---
import Layout from '../layouts/App.astro';
import { Image } from 'astro:assets';
import logoImage from '../assets/img/logo.png';
---

<Layout
	title="Dafcoif - Accueil"
	description="Lorem ipsum dolor sit amet"
>

<!-- premiere section -->
<section class="flex flex-row justify-center items-center py-20 w-[80%] m-auto gap-7">
	<!-- partie de gauche -->
	<div class="flex flex-col gap-5 flex-1/2">
		<h1 class="titre">
			<span class="block text-end">Coiffeuse</span>
			<span class="block text-center lavende">coloriste</span>
			<span class="block">à Strasbourg</span>
		</h1>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque ab officiis amet asperiores eligendi, tenetur velit maxime soluta, temporibus voluptatibus accusamus ipsum praesentium. A eaque esse vero. Sint, tempore reiciendis!
		</p>
		<a href="#" class="underline">En savoir plus sur Daphné</a>
	</div>
	<!-- partie de droite -->
	<div class="flex-1/2">
		<Image src={logoImage} alt="Logo dafcoif" />
	</div>
</section>

</Layout>