---
import Layout from '../layouts/App.astro';
---

<Layout
	title="Mentions légales"
	description="Informations légales et politique de confidentialité"
>
<section class="py-10 px-4 flex flex-col gap-4">

    <h1 class="text-center titre">Mentions légales</h1>
    
    <h2 class="sous-titre">1. Informations légales</h2>
    
    <p>Le site que vous consultez actuellement est la propriété de :</p>
    <ul>
        <li><strong>Laure Schaeffer</strong></li>
        <li>Email : laure.schaeffer(at)hotmail.com</li>
    </ul>
    
    <p>Ce site est hébergé par la société :</p>
    <ul>
        <li><strong>Nom de l'hébergeur</strong></li>
        <li>Adresse : [adresse de l'hébergeur]</li>
        <li>Site web : <a href="#" target="_blank" rel="noopener">[URL de l'hébergeur]</a></li>
    </ul>
    
    <h2 class="sous-titre">2. Données personnelles</h2>
    <p>Les informations que vous communiquez via le formulaire sont confidentielles et envoyées à <strong>Daphnée</strong> pour qu'elle puisse vous recontacter. Elles ne feront l'objet d'aucune commercialisation.</p>
    
    <p>Conformément à la loi Informatique et Libertés du 6 janvier 1978, vous disposez d'un droit d'accès, de rectification, de modification et de suppression des données personnelles que vous nous avez communiquées. Vous pouvez exercer ce droit en envoyant un email à : laure.schaeffer(at)hotmail.com</p>
    
    <h2 class="sous-titre">3. Cookies</h2>
    <p>Notre site n'utilise aucun cookie.</p>
</section>

</Layout>