---
const { imgSrc, titre } = Astro.props;
import { Image } from 'astro:assets';
---

<div class="relative group">
    <Image src={imgSrc} width={300} alt={titre} class="w-full object-cover rounded-lg shadow-lg" />

    <!-- hover pour desktop -->
    <div class="absolute inset-0 bg-black flex flex-col items-center gap-6 pb-6 justify-end text-white text-center opacity-0 group-hover:opacity-60 transition-opacity duration-300 rounded-lg">
        <h3 class="text-lg font-bold">{titre}</h3>
    </div>

    <!-- text version mobile -->
    <div class="md:hidden text-center mt-2">
        <h3 class="text-lg font-bold">{titre}</h3>
    </div>
</div>
