---
const today = new Date();
---

<footer class="flex flex-col gap-4 px-4 py-4 mt-10 bg-[#1d053e] border-t-1 md:flex-row md:gap-6 md:py-8 lg:justify-around">
	<div class="flex flex-col gap-4">
		<a href="/" class="titre logo">Dafcoif</a>
	
		&copy; {today.getFullYear()} Laure Schaeffer. Tous droits réservés.
	</div>

	<div class="flex flex-col gap-4 md:flex-row">
		<ul>
			<li class="font-bold text-lg">Pages</li>
			<li><a href="/propos" class="underline pb-2">A propos</a></li>
			<li><a href="/travail" class="underline pb-2">Travail</a></li>
			<li><a href="/contact" class="underline pb-2">Contact</a></li>
		</ul>
	
		<ul>
			<li class="font-bold text-lg">Légal</li>
			<li><a href="/mentions-legales" class="underline">Mentions Légales</a></li>
		</ul>
	</div>

</footer>

