<header>
	<nav class="flex flex-row items-center justify-between px-22 py-4 shadow-xl">
		<a href="/" class="titre logo">Dafcoif</a>

		<div class="flex flex-row gap-16 text-xl">
			<a href="/propos">A propos</a>
			<a href="/travail">Travail</a>
			<!-- <a href="/blog">Contact</a> -->
		</div>
	</nav>
</header>
