---
const response = await fetch('http://localhost:4321/api/instagram');

if (!response.ok) {
  throw new Error("Erreur lors de la récupération des posts Instagram");
}

const { data } = await response.json();
---

<!-- <div class="grid"> -->
<div class="flex flex-wrap items-start justify-center gap-20 px-12">
  {data?.map((post:any) => (
    <a href={post.permalink} target="_blank">
      <figure class="cropped-figure">
        <img src={post.media_url} alt={post.caption ?? 'Instagram post'} class="cropped-img delay-100 hover:opacity-80" />
        <figcaption class="truncate "> {post.caption ?? ''} </figcaption>
      </figure>
    </a>
  ))}
</div>
